.jumbotron {
    padding: 15px;
    background-color: rgb(1, 92, 177);
    color: whitesmoke;
    margin-top: 60px;
}


.footer {
    padding: 15px;
    margin-bottom: 0px;
}

.txt {
    color: yellow;
}

.verticalLine {
    border-left: thin solid gainsboro ;
  }

.card-hotel {
      flex: 1 150px;
      padding: 5px 10px 5px 10px;
      margin-top: 10px;
  }

.btn-reserva {
    width: 100%;
}

.header {
    padding: 15px;
    margin-bottom: 0px;
}