.jumbotron {
    background-color: darkred;
    color: goldenrod;
}

.btn {
    color: goldenrod;
    background-color: darkgreen;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: darkgoldenrod;
    margin-bottom: 0px;
}