$blue:#000b54;
$yellow:#ccc900;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    padding: 20px;
    background-color: $blue;
    color: whitesmoke;
    @include margenes(50px, 0px)
}
 .jumbotron-fluid {
    background-color: $blue;
    color: whitesmoke;

 }

.footer {
    padding: 0px;
}

.txt {
    color: $yellow;
}

.verticalLine {
    border-left: thin solid gainsboro ;
    padding: 1px;
  }

.card-hotel {
      flex: 1 200px;
      padding: 2px 0px 2px 0px;
      @include margenes(10px, 0px)
    }

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.header {
    padding: 15px;
}

.espacio {
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}
