.jumbotron {
  padding: 20px;
  background-color: #000b54;
  color: whitesmoke;
  margin-top: 35px; }

.jumbotron-fluid {
  background-color: #000b54;
  color: whitesmoke; }

.footer {
  padding: 0px;
  margin-bottom: 0px; }

.txt {
  color: #ccc900; }

.verticalLine {
  border-left: thin solid gainsboro;
  padding: 1px; }

.card-hotel {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.header {
  padding: 15px;
  margin-bottom: 0px; }

.espacio {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
